@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
     text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a, 
a:link,
a:visited {
    color: #fff;
}

body {
    background-color: #e8e7db;
}

.masthead {
    background:;
    text-align: center;
    background: transparent url("../images/masthead-bg.png") repeat left center;
}

.title {
    display: inline-block;
    background-color: #e8e7db;
    text-shadow: 3px 3px 0 #d7d6cc;
}

.logo {
    margin: 0 0 .2em 0 0;
    width: 1.2em;
    vertical-align: middle;
}